{% extends "__layout.twig" %}

{% block content %}
	<ul class="nav nav-pills">
		<li class="nav-item">
			<a class="btn {{is_image ? " btn-primary"}}" href="{{image_url}}">Картинка</a>
		</li>
		<li class="nav-item">
			<a class="btn {{is_info ? " btn-primary"}}" href="{{info_url}}">Описание</a>
		</li>
	</ul>
	{% block object_content %}
		<ul class="list-group">
			<li class="list-group-item">
				Выберите то, что хотите посмотреть
			</li>
		</ul>
	{% endblock %}

{% endblock %}
