{% extends "__layout.twig" %}
{% block content %}
<p>Рикролл</p>

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link {{title == "Рикролл" ? "active"}}" aria-current="page" href="/rickroll/image">Картинка</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{title == "active" ? "active"}}" href="/rickroll/info">Описание</a>
  </li>
</ul>
{% endblock %}