<?php
$is_image = preg_match("#^/stickbug/image#", $url);
$is_info = preg_match("#^/stickbug/info#", $url);
?>

<p>Стикбаг</p>
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link <?= $is_image ? "active" : '' ?>" aria-current="page" href="/stickbug/image">Картинка</a>
  </li>
  <li class="nav-item">
    <a class="nav-link <?= $is_info ? "active" : '' ?>" href="/stickbug/info">Описание</a>
  </li>
</ul>

<?php
if ($is_image) {
    require "../views/stickbug_image.php";
} else if ($is_info) {
    require "../views/stickbug_info.php";
}
?>